project/cache/*
project/log/*
project/web/uploads/*
project/config/databases.yml
project/config/propel.ini
project/data/sql/*
project/lib/filter/doctrine/base/Base*
project/lib/filter/doctrine/*Plugin/base/Base*
project/lib/form/doctrine/base/Base*
project/lib/form/doctrine/*Plugin/base/Base*
project/lib/model/doctrine/base/Base*
project/lib/model/doctrine/*Plugin/base/Base*
project/lib/model/om/*
project/lib/model/map/*
