#sf_admin_container div.form-errors
{
  display: inline;
  margin-left: 10px;
  color: #f33;
}

#sf_admin_container input.form-errors, #sf_admin_container select.form-error, #sf_admin_container textarea.form-error
{
  background-color: #ffc;
  border: 1px solid #f33;
}
